@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

* {
  font-family: 'Domine', 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 252, 252);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lasso path {
  stroke: rgb(80, 80, 80);
  stroke-width: 2px;
}

.lasso .drawn {
  fill-opacity: .05;
}

.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4, 4;
}

.lasso .origin {
  fill: #3399FF;
  fill-opacity: .5;
}

.not_possible {
  fill: rgb(200, 200, 200);
}

.possible {
  fill: red;
  opacity: 1;
}

.selected {
  fill: red;
  opacity: 1;
}

/* .connections {
  opacity: 0;
} */

.take-cover {
  position: relative;
  border: rgba(0, 0, 0, 0.01) 1px solid;
}

.take-cover:hover {
  border-color: #3399FF;
}

.take-cover:hover::after {
  background: rgba(0, 0, 0, 0.01);
}

.take-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  z-index: 1;
}